<br>
<h2 style="text-align: center;">(TEMP SITE NAME)</h2>
<p style="text-align: center; margin-left: 20%; margin-right: 20%;">Oregon State University is constantly making strides to reduce its carbon footprint and reduce its energy consumption. There is a carbon neutrality goal for 2025 where the university is trying to generate as much energy as it uses and have a net carbon footprint of zero. This web application aims to monitor the energy use of buildings on campus in order to create a visual representation of each building's consumption and incentivize people to monitor their consumption habits and reduce the campus's overall consumption.
<br>
	Essentially, this web application will resemble an administrative dashboard with charts and graphs of energy usage rates for individual buildings and subgroups of buildings on Oregon State's campus. 
    It also displays a series of public facing pages that will show energy usage for all the buildings on campus that have AcquiSuite meters as well as display user generated stories of personalized dashboards for authorized users. Each page will be a grid-based dashboard with personalized blocks for displaying data through time-series charts or graphs. A user will be able to add different blocks to create unique dashboards for their own unique interests and subsets of buildings. An example of this would be a dashboard designated to only residence halls where each block shows a usage over time graph for energy consumption of each residence hall. Users will be able to customize their experience to their preference.
</p>

<br>
<h2 style="text-align: center;">History</h2>
<p style="text-align: center; margin-left: 20%; margin-right: 20%;">The Oregon State University Sustainability Office is housed in the Finance and Administration division. The Sustainability Office was formed by the creation of a full time sustainability coordinator position in November 2005. In December 2007, an additional half-time position was created primarily to support the collection and management of campus utility data. In November 2008, the half-time position was moved to a permanent full time position and duties expanded to focus on energy conservation efforts.
</p>

<br>
<h2 style="text-align: center;">Missions</h2>
<p style="text-align: center; margin-left: 20%; margin-right: 20%;">The Sustainability Office exists to - in the most sustainable way possible - support OSU’s mission to promote economic, social, cultural and environmental progress for the people of Oregon, the nation and the world. The Sustainability Office fosters a culture of sustainability, enhances student competency around issues of sustainability, reduces the university’s overall environmental impact and communicates sustainability efforts to the campus community and external audiences. It aims to offer the highest quality of services to the OSU campus in its four functional areas:
</p>

<ul style="margin-left: 40%; margin-right: 20%;">
    <li>
        Infrastructure and Policy
    </li>
    <li>
        Outreach and Communication
    </li>
    <li>
        Assessment
    </li>
    <li>
        Student Engagement and Academic Support
    </li>
</ul>
<p style="text-align: center; margin-left: 20%; margin-right: 20%;">Mirroring the interdisciplinary nature of sustainability, many projects and initiatives overlap multiple functional areas. Several projects and programs detailed on this website are managed or directly supported by the Office, while others are partnerships with other OSU units.</p>