<h4>History</h4>
<p>The Oregon State University Sustainability Office is housed in the Finance and Administration division. The Sustainability Office was formed by the creation of a full time sustainability coordinator position in November 2005. In December 2007, an additional half-time position was created primarily to support the collection and management of campus utility data. In November 2008, the half-time position was moved to a permanent full time position and duties expanded to focus on energy conservation efforts.
</p>
<h4>Missions</h4>
<p>The Sustainability Office exists to - in the most sustainable way possible - support OSU’s mission to promote economic, social, cultural and environmental progress for the people of Oregon, the nation and the world. The Sustainability Office fosters a culture of sustainability, enhances student competency around issues of sustainability, reduces the university’s overall environmental impact and communicates sustainability efforts to the campus community and external audiences. It aims to offer the highest quality of services to the OSU campus in its four functional areas:
</p>
<ul>
    <li>
        Infrastructure and Policy
    </li>
    <li>
        Outreach and Communication
    </li>
    <li>
        Assessment
    </li>
    <li>
        Student Engagement and Academic Support
    </li>
</ul>
<p>Mirroring the interdisciplinary nature of sustainability, many projects and initiatives overlap multiple functional areas. Several projects and programs detailed on this website are managed or directly supported by the Office, while others are partnerships with other OSU units.</p>