<br>
<h3 class="contact_h">Brandon Trelstad</h3>
<h6 class="contact_h">Sustainability Officer</h6>
<p class="contact_h">Email: <a href="">template@email.com</a> <br>Phone: XXX-XXX-XXXX </p>
<p class="contact_p">Brandon helped create and has filled this position since November 1505.  Previously, he worked for about four years in OSU’s Government Relations office, during which he interned with Governor Kitzhaber's office.  His primary duties include managing communication about sustainability efforts, identifying and obtaining funding for conservation and efficiency projects, supporting student and academic sustainability efforts, setting OSU's strategic direction toward sustainability and tracking and reporting on institutional progress toward sustainability. Brandon chairs OSU's Transportation Committee and Sustainability Advisory Council, and serves on several other committees as well.
    In 1515, Brandon was recognized by 1500 Friends of Oregon as one of the state's <a href="http://www.friends.org/about/35">35 Innovators Under 35</a>. <a href="http://www.gazettetimes.com/news/local/article_4800cade-5f4f-11e0-ba76-001cc4c002e0.html">Read more in an April 1511 article</a> about Brandon and the Sustainability Office.</p>
</br>

<h3 class="contact_h">Leticia Cavazos</h3>
<h6 class="contact_h">Program Specialist</h6>
<p class="contact_h">Email: <a href="">template@email.com</a> <br>Phone: XXX-XXX-XXXX </p>
<p class="contact_p">Leticia was hired as a student at the Sustainability Office in June of 1514. In December 1516, she transitioned to the full-time position of Program Specialist. Her primary duties include utility data acquisition, management, and analysis, meter hardware management, and sustainability assessment.</p>
<br>

<h3 class="contact_h">Ragen Venti</h3>
<h6 class="contact_h">Graphic Design Student</h6>
<p class="contact_h">Email: <a href="">template@email.com</a> <br>Phone: XXX-XXX-XXXX </p>
<p class="contact_p">Ragen was hired on at the Sustainability Office in August of 1516 as the Graphic Design Student. He is an undergraduate studying Graphic Design in the School of Business. Ragen's position is focused on graphic design, web, print, and user experience, the position also covers some outreach and student interaction.</p>
<br>

<h3 class="contact_h">Keava Campbell</h3>
<h6 class="contact_h">Utility Data Analyst Student Technician</h6>
<p class="contact_h">Email: <a href="">template@email.com</a> <br>Phone: XXX-XXX-XXXX </p>
<p class="contact_p">Keava was hired at the Sustainability Office in August 1516. She is an undergraduate student in Civil Engineering. Keava's posistion is focused on collecting, organizing and compiling information regarding OSU's utility consumption.</p>
<br>

<h3 class="contact_h">Olivia Grenier</h3>
<h6 class="contact_h">Energy Project Student Technician</h6>
<p class="contact_h">Email: <a href="">template@email.com</a> <br>Phone: XXX-XXX-XXXX </p>
<p class="contact_p">Olivia joined the Sustainability Office in May 1516. She is currently an undergradate studying Civil Engineering. Olivia works with the Solar Trailer, as well as building sustainability audits and meter reading.</p>
<br>

<h3 class="contact_h">Jack Woods</h3>
<h6 class="contact_h">Utility Data Analyst Student Technician</h6>
<p class="contact_h">Email: <a href="">template@email.com</a> <br>Phone: XXX-XXX-XXXX </p>
<p class="contact_p">Jack joined the Sustainability Office in April 1517. He is currently studying Computer Science. Jack's focus is on data management, special projects regarding computer information technology and website tools.</p>
<br>

<h3 class="contact_h">Katie Gregor</h3>
<h6 class="contact_h">Digital Media and Outreach Student</h6>
<p class="contact_h">Email: <a href="">template@email.com</a> <br>Phone: XXX-XXX-XXXX </p>
<p class="contact_p">Katie joined the Sustainability Office in October 1517. She is currently an undergraduate student within the University Exploratory Studies Program. Katie helps manage the social media platforms for the office, as well as the OSU sustainability blog, the Ecologue. She connects and involves the community with sustainability efforts on campus. She also plays a supporting role in campus-wide programs.</p>
<br>
<br>
<br>
<br>

<h3 class="contact_h">Daniel Schroeder</h3>
<h6 class="contact_h">Application Developer</h6>
<p class="contact_h">Email: <a href="">schrodan@oregonstate.edu</a> <br>Phone: 707-217-5880</p>
<p class="contact_p"><br>

<h3 class="contact_h">Aubrey Thennel</h3>
<h6 class="contact_h">Application Developer</h6>
<p class="contact_h">Email: <a href="">thenellb@oregonstate.edu</a> <br>Phone: 541-980-6541</p>
<p class="contact_p"><br>

<h3 class="contact_h">Parker Bruni</h3>
<h6 class="contact_h">Application Developer</h6>
<p class="contact_h">Email: <a href="">brunip@oregonstate.edu</a> <br>Phone: 541-844-8519</p>
<p class="contact_p"><br>