<nav id="sidenav" class="d-none d-sm-block bg-light sidebar">
    <ul id="sideNavList" class="nav nav-pills flex-column">
        <li class="custom-nav-item dash-item">
            <div class="nav-item-container container">
                <a class="custom-nav-link" href="#createStory">Create +</a>
            </div>
        </li>
        <li class="custom-nav-item dash-item" ng-repeat="story in stories">
            <div class="nav-item-container container">
                <a class="custom-nav-link" href="#">{{story.name}}</a>
            </div>
        </li>
    </ul>
</nav>