<div ng-controller="storyController" ng-model="selectedStory" class="Stratum2-Light">
    <br>
	<h1 class="font-weight-bold"> {{selectedStory.name}} </h1>
	<br>
    <h2 class="border-bottom-orange">Dashboards</h2>
    <div class="row mt-4">
        <div class="col-sm-3 pb-4 Stratum2-Light" ng-repeat="d in selectedStory.dashboards">

            <a class="grow" ng-controller="dashboardController" href="#viewdashboard" ng-click="viewDashboard(d)" style="text-decoration: none; color: black;">
                <div id="card-story" class="card grow border-black card-shadow" style="min-width: 200px;">
                    <div class="card-body ml-3 ">
                        <h4 class="card-title" style="height: 65px;">{{d.name}}</h4>
                        <div>
                            <p class="mt-3" style="height: 30px;"><b>Description: </b>{{d.description}}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
