<div id="target" class="line-chart"></div>
<script>
    new tauCharts.Chart({
        data: data(),
        type: 'line',
        x: 'i',
        y: 'val',
        color: 'type',
        guide: {
            color: {
                brewer: {
                    'sin': '#ff0000',
                    'cos': '#00ff00'
                }
            }
        },
        plugins: [
            tauCharts.api.plugins.get('legend')(),
            tauCharts.api.plugins.get('tooltip')()
        ]
    }).renderTo('#target');


    function data() {
        return (Array.from({length:100})
            .map(function (e,i) {return i;})
            .reduce(function (memo, x) {
                var i = x / 100;
                return memo.concat([
                    {type: 'sin', formula: 'sin(i)', i: i, val: Math.sin(i)},
                    {type: 'cos', formula: 'cos(i)', i: i, val: Math.cos(i)},
                ]);
            }, []));
    }
</script>