<h3>My Dashboards</h3>

<ul class="list-group mt-4 mb-4">
    <li class="list-group-item">Dashboard 1</li>
    <li class="list-group-item">Dashboard 2</li>
    <li class="list-group-item">Dashboard 3</li>
    <li class="list-group-item">Dashboard 4</li>
    <li class="list-group-item">Dashboard 5</li>
</ul>


<h3>Public Dashboards</h3>

<ul class="list-group mt-4 mb-4">
    <li class="list-group-item">Public Dashboard 1</li>
    <li class="list-group-item">Public Dashboard 2</li>
    <li class="list-group-item">Public Dashboard 3</li>
    <li class="list-group-item">Public Dashboard 4</li>
    <li class="list-group-item">Public Dashboard 5</li>
    <li class="list-group-item">Public Dashboard 1</li>
    <li class="list-group-item">Public Dashboard 2</li>
    <li class="list-group-item">Public Dashboard 3</li>
    <li class="list-group-item">Public Dashboard 4</li>
    <li class="list-group-item">Public Dashboard 5</li>
</ul>