<nav id="sidenav" class="d-none d-sm-block bg-light sidebar">
    <ul id="sideNavList" class="nav nav-pills flex-column">
        <li class="custom-nav-item dash-item">
            <div class="nav-item-container container">
                <a class="custom-nav-link" href="#">Dash1</a>
            </div>
        </li>
        <li class="custom-nav-item dash-item">
            <div class="nav-item-container container">
                <a class="custom-nav-link" href="#">Dash2</a>
            </div>
        </li>
        <li class="custom-nav-item dash-item">
            <div class="nav-item-container container">
                <a class="custom-nav-link" href="#">Dash3</a>
            </div>
        </li>
        <li class="custom-nav-item dash-item">
            <div class="nav-item-container container">
                <a class="custom-nav-link" href="#">Dash4</a>
            </div>
        </li>

    </ul>
</nav>