<h3>My Dashboards
	<a href="#editDashboard" class="btn btn-success float-right">Edit Dashboard</a>   <!--CHANGE EDIT TO CREATE AND HREF -->
</h3>
<div class="row">
    <div class="col-sm-10 col-md-10">
        <h3>My Dashboards</h3>
    </div>
    <div class="col-sm-2 col-md-2">
        <a href="#createDashboard" class="btn btn-success float-right">Create Dashboard</a>
    </div>
</div>
<ul class="list-group mt-4 mb-4">
    <li class="list-group-item ">
        Dashboard 1
        <a href="#deleteDashboard" class="btn-sm btn-danger float-right ml-2">Delete</a>
        <a href="#editDashboard" class="btn-sm btn-success float-right ml-2">Edit</a>
        <a href="#viewDashboard" class="btn-sm btn-secondary float-right ml-2">View</a>
    </li>
    <li class="list-group-item">Dashboard 2</li>
    <li class="list-group-item">Dashboard 3</li>
    <li class="list-group-item">Dashboard 4</li>
    <li class="list-group-item">Dashboard 5</li>
</ul>


<h3>Public Dashboards</h3>

<ul class="list-group mt-4 mb-4">
    <li class="list-group-item">Public Dashboard 1</li>
    <li class="list-group-item">Public Dashboard 2</li>
    <li class="list-group-item">Public Dashboard 3</li>
    <li class="list-group-item">Public Dashboard 4</li>
    <li class="list-group-item">Public Dashboard 5</li>
    <li class="list-group-item">Public Dashboard 1</li>
    <li class="list-group-item">Public Dashboard 2</li>
    <li class="list-group-item">Public Dashboard 3</li>
    <li class="list-group-item">Public Dashboard 4</li>
    <li class="list-group-item">Public Dashboard 5</li>
</ul>