<div class="container-fluid p-0">
<div class="row w-100 m-0" >
	<div class="col-sm-6 mx-auto text-center">
	<h1 class="header">Oregon State University</h1>
	<h3 class="header2 text-orange" >Energy Dashboards</h3>
	<h4 class="header3" >Campus Building Energy Usage Information</h4>
	</div>
</div>
<div class="row pt-3 w-100 m-0" >
<div class="col-sm-10 mx-auto">
	<div class="container" style="height:450px;">
	<ons-navigator ng-controller="mapController">
		<div class="d-block border-orange" style="height: 100%" id="map"></div>
	</ons-navigator>
	</div>
</div>
</div>
</div>