<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #121212; ">
        <a class="navbar-brand" href="#" style="width: 124px; padding-left: 20px;">Dashboard</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navBarDefault" aria-controls="navBarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navBarDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
            <a href="/logout" class="btn btn-danger btn-md" role="button" aria-pressed="true">Logout</a>

        </div>
    </nav>
</header>
