<div class="row mt-4" ng-controller="buildingController">
    <div class="col-sm-3 pb-4 Stratum2-Light" ng-repeat="building in buildings track by building._id">
        <div class="card" style="max-height: 400px; min-width: 200px;">
            <div class="card-body ml-3">
                <h5 class="card-title" style="height: 65px;">{{building.name}}</h5>
                <div class="rounded mx-auto mt-3" style="height: 100px; width: 100px;">
                    <img class="rounded text-white bg-primary w-100 h-100" ng-src="{{getImageAddress(building)}}" alt="">
                </div>
                <p class="mt-3" style="height: 30px;"><b>Type: </b>{{building.building_type}}</p>
            
                <a ng-click="viewBuilding(building)" href="#viewBuilding" class="btn" style="color: white; background-color: #DC4405 !important;">View</a>
            </div>
        </div>
    </div>
</div>