<div ng-controller="buildingController">
<br>
<h1 class="Stratum2-Light font-weight-bold">Buildings
    <a href="#addBuilding" ng-click="create()" class="btn border-orange-thin background-orange text-white float-right">Add Building+</a>   <!--CHANGE EDIT TO CREATE AND HREF -->
</h1>
<div class="row mt-4" >
    <div class="col-sm-3 pb-4 Stratum2-Light" ng-repeat="building in buildings track by building._id">
        <div class="card card-shadow border-orange-thin" style="max-height: 400px; min-width: 200px;">
            <div class="card-body ml-3">
                <h5 class="card-title" style="height: 65px;">{{building.name}}</h5>
               
                <div class="rounded mx-auto mt-3" style="height: 100px; width: 100px;">
                    <img class="rounded text-white bg-primary w-100 h-100" ng-src="{{getImageAddress(building)}}" alt="">
                </div>
                <p class="mt-3" style="height: 30px;"><b>Type: </b>{{building.building_type}}</p> xwww
                <a ng-click="viewBuilding(building)"  class="btn orange-button">View</a>
                <a ng-click="EditBuilding(building)" class="btn btn-info">Edit</a>
                <a ng-click="DeleteBuilding(building)" class="btn btn-danger" style="color: white">Delete</a>

                <!-- <a ng-href="#/editbuilding/{{building._id}}">
                    <button class="fa fa-gear border-orange-thin border-curve-button" style="font-size:24px"
                    ng-click="editBuilding(building)"></button></a> -->
            </div>
        </div>
    </div>
</div>
</div>