<h3>My Blocks</h3>

<div class="card mb-3" style="width: 90%;">
    <div class="card-header">
        Example Block
        <a href="#deleteblock" class="btn btn-danger float-right">Delete</a>
        <a href="#editblock" class="btn btn-success float-right">Edit</a>

    </div>
    <div class="card-body p-3">
        <div class="row">
            <div class="col">
                <h3>Buildings:</h3>
                <span>Building 1</span></br>
                <span>Building 2</span></br>
                <span>Building 3</span></br>
                <button type="button" class="btn btn-success position-absolute" style="bottom: 0;">Filter 1</button>
                <button type="button" class="btn btn-success position-absolute" style="bottom: 0; left: 100px;">Filter 2</button>
            </div>
            <div class="col">
                <div class="row pb-4">
                    <span class="font-weight-light w-100" style="font-size: 1em;">High</span></br>
                    <p class="font-weight-bold mb-0" style="font-size: 1.5vw;">XXX,XXX</p><p class="font-weight-light mb-0 mt-1" style="font-size: 1em;">  mW/h</p>
                </div>
                <div class="row pb-4">
                    <span class="font-weight-light w-100" style="font-size: 1em;">Median</span></br>
                    <p class="font-weight-bold mb-0" style="font-size: 1.5vw;">XXX,XXX</p><p class="font-weight-light mb-0 mt-1" style="font-size: 1em;">  mW/h</p>
                </div>
                <div class="row pb-4">
                    <span class="font-weight-light w-100" style="font-size: 1em;">Low</span></br>
                    <p class="font-weight-bold mb-0" style="font-size: 1.5vw;">XXX,XXX</p><p class="font-weight-light mb-0 mt-1" style="font-size: 1em;">  mW/h</p>
                </div>
            </div>
            <div class="col-5 " style="height: 300px;">
                <div class="text-white bg-primary w-100 h-100">Insert Chart Here</div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-3" style="width: 90%;">
    <div class="card-header">
        Example Block
    </div>
    <div class="card-body p-3">
        <div class="row">
            <div class="col">
                <h3>Johnson Hall</h3>
                <div class="text-white bg-secondary h-50" style="width: 90%;">Building Photo</div>
                <button type="button" class="btn btn-success position-absolute" style="bottom: 0;">Filter 1</button>
                <button type="button" class="btn btn-success position-absolute" style="bottom: 0; left: 100px;">Filter 2</button>
            </div>
            <div class="col">
                <div class="row pb-4">
                    <span class="font-weight-light w-100" style="font-size: 1em;">High</span></br>
                    <p class="font-weight-bold mb-0" style="font-size: 1.5vw;">XXX,XXX</p><p class="font-weight-light mb-0 mt-1" style="font-size: 1em;">  mW/h</p>
                </div>
                <div class="row pb-4">
                    <span class="font-weight-light w-100" style="font-size: 1em;">Median</span></br>
                    <p class="font-weight-bold mb-0" style="font-size: 1.5vw;">XXX,XXX</p><p class="font-weight-light mb-0 mt-1" style="font-size: 1em;">  mW/h</p>
                </div>
                <div class="row pb-4">
                    <span class="font-weight-light w-100" style="font-size: 1em;">Low</span></br>
                    <p class="font-weight-bold mb-0" style="font-size: 1.5vw;">XXX,XXX</p><p class="font-weight-light mb-0 mt-1" style="font-size: 1em;">  mW/h</p>
                </div>
            </div>
            <div class="col-5 " style="height: 300px;">
                <div class="text-white bg-warning w-100 h-100">Insert Chart Here</div>
            </div>
        </div>
    </div>
</div>