<h3>User Blocks
    <a href="#createblock" class="btn btn-success float-right">Create Block</a>   <!--CHANGE EDIT TO CREATE AND HREF -->
</h3>
<div ng-controller="blockController">
<div class="card mb-3" style="width: 90%;" ng-repeat="block in userBlocks">
    <div class="card-header">
        {{block.name}}
        <a href="#deleteblock" class="btn btn-danger float-right">Delete</a>
        <a href="#editblock" class="btn btn-success float-right">Edit</a>

    </div>
    <div class="card-body p-3">
        <div class="row">
            <div class="col">
                <h3>Buildings:</h3>
                <ul >
                    <li ng-repeat="building in block.building">
                        {{building.name}}
                    </li>
                </ul>
                <button type="button" class="btn btn-success position-absolute" style="bottom: 0;">Filter 1</button>
                <button type="button" class="btn btn-success position-absolute" style="bottom: 0; left: 100px;">Filter 2</button>
            </div>
            <div class="col">
                <div class="row pb-4">
                    <span class="font-weight-light w-100" style="font-size: 1em;">High</span></br>
                    <p class="font-weight-bold mb-0" style="font-size: 1.5vw;">XXX,XXX</p><p class="font-weight-light mb-0 mt-1" style="font-size: 1em;">  mW/h</p>
                </div>
                <div class="row pb-4">
                    <span class="font-weight-light w-100" style="font-size: 1em;">Median</span></br>
                    <p class="font-weight-bold mb-0" style="font-size: 1.5vw;">XXX,XXX</p><p class="font-weight-light mb-0 mt-1" style="font-size: 1em;">  mW/h</p>
                </div>
                <div class="row pb-4">
                    <span class="font-weight-light w-100" style="font-size: 1em;">Low</span></br>
                    <p class="font-weight-bold mb-0" style="font-size: 1.5vw;">XXX,XXX</p><p class="font-weight-light mb-0 mt-1" style="font-size: 1em;">  mW/h</p>
                </div>
            </div>
            <div class="col-5 " style="height: 300px;">
                <div class="text-white bg-primary w-100 h-100">Insert Chart Here</div>
            </div>
        </div>
    </div>
</div>
</div>