<div ng-controller="blockController">
<br>
<h1 class="Stratum2-Light font-weight-bold">My Blocks
    <a href="#createblock" ng-click="create()" class="btn border-orange-thin background-orange text-white float-right">Create Block+</a>   <!--CHANGE EDIT TO CREATE AND HREF -->
</h1>
<br>
<div>
	<div class="card mb-3 Stratum2-Light font-weight-bold border-orange-thin" style="width: 100%;" ng-repeat="block in userBlocks">
		<div class="card-header h-100">
			<div class="h-100 d-inline-flex">
			<h4 class="align-middle m-0 font-weight-bold">
				{{block.name}}
			</h4>
			</div>
			
			<div class="float-right dropdown">
				<button class="fa fa-gear border-orange-thin border-curve-button" style="font-size:24px"></button>
				<div class="dropdown-content border-orange font-weight-normal">
					<a class="" ng-click="EditBlock(block)">Edit</a>
					<a class="" ng-click="DeleteBlock(block)">Delete</a>
				</div>
			</div>		
			
		</div>
		<div ng-init="getValues(block.building)" class="card-body p-2">
			<div class="row">
				<div class="col-3">
					<h3>Buildings:</h3>
					<ul class="list-unstyled">
						<li class=" p-1" ng-repeat="building in block.building">
							<a ng-click="viewBuilding(building)" class="btn btn-light">{{building.name}}</a>
						</li>
					</ul>
				</div>
				<div class="col-2" >
					<div class="row">
						<div class="font-weight-light w-100 border-bottom-orange" style="font-size: 1.5em;">High</div>
						<ul class="list-unstyled">
							<li ng-repeat="val in maxValues[$index]">
								<div class="font-weight-bold mb-0">
									{{val.name}}: {{val.max}} {{val.units}}
								</div>
							</li>
						</ul>
					</div>
					<div class="row">
						<div class="font-weight-light w-100 border-bottom-orange" style="font-size: 1.5em;">Median</div>
						<ul class="list-unstyled">
							<li ng-repeat="val in medValues[$index]">
								<div class="font-weight-bold mb-0">
									{{val.name}}: {{val.med}} {{val.units}}
								</div>
							</li>
						</ul>
					</div>
					<div class="row">
						<div class="font-weight-light w-100 border-bottom-orange" style="font-size: 1.5em;">Low</div>
						<ul class="list-unstyled">
							<li ng-repeat="val in minValues[$index]">
								<div class="font-weight-bold mb-0">
									{{val.name}}: {{val.min}} {{val.units}}
								</div>
							</li>
						</ul>
					</div>
				</div> 
				<canvas ng-controller="chartController" 
                        ng-init="createChart({building: block.building, val : 'Accumulated Real Energy Net'})" 
                        class="col-7 myChart"></canvas>
			</div>
		</div>
	</div>
</div>

</div>

