<h3>Edit (Johnson Hall Block)</h3>
<div class="row mt-4" ng-controller="blockController">
    <div class="col-sm-5 col-md-5">
        <h4>Edit Information</h4>
        <div class="form-group row mt-4">
            <label for="inputName" class="ml-3">Name</label>
            <div class="col-sm-12">
                <input type="name" class="form-control" id="inputName" placeholder="Name">
            </div>
        </div>
        <select class="form-control mt-4">
            <option selected>Building A</option>
            <option>Building B</option>
            <option>Building C</option>
            <option>Building D</option>
        </select>
    </div>
    <div class="col-sm-1 col-md-1">
    </div>
    <div class="col-sm-5 col-md-5">
        <h4>Current Buildings</h4>
        <ul class="list-group mt-4 mb-4">
            <li class="list-group-item">
                Building 1
                <button type="button" style="" class="btn-sml btn-danger float-right">
                    <span class="" aria-hidden="false">&times;</span>
                </button>
            </li>
            <li class="list-group-item">
                Building 2
                <button type="button" style="" class="btn-sml btn-danger float-right">
                    <span class="" aria-hidden="false">&times;</span>
                </button>
            </li>
            <li class="list-group-item">
                Building 3
                <button type="button" style="" class="btn-sml btn-danger float-right">
                    <span class="" aria-hidden="false">&times;</span>
                </button>
            </li>
        </ul>
    </div>
</div>
