<h3>Create Dashboard</h3>
<div class="row mt-4" ng-controller="dashboardController">
    <div class="col-sm-5 col-md-5">
        <h4>Edit Information</h4>
        <div class="form-group row mt-4">
            <label for="inputDashboardName" class="ml-3">Dashboard Name</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" maxlength="30" id="inputDashboardName" ng-model="nameForm" placeholder="Name">
            </div>
        </div>

        <div class="form-group row mt-4">
            <label for="inputDashboardDescription" class="ml-3">Dashboard Description</label>
            <div class="col-sm-12">
                <textarea class="form-control" maxlength="140" id="inputDashboardDescription" ng-model="descriptionForm" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group row mt-4">
            <label for="dropdownBlocks" class="ml-3">Select Blocks:</label>
            <div class="col-sm-12">
                <select id="dropdownBlocks" class="form-control "
                        ng-model="blockSelection"
                        required ng-options="block.name for block in userBlocks"
                        ng-change="selection(blockSelection)">
                </select>
            </div>
        </div>
    </div>
    <div class="col-sm-1 col-md-1">
    </div>
    <div class="col-sm-5 col-md-5">
        <h4>Current Blocks</h4>
        <ul class="list-group mt-4 mb-4">
            <div ng-repeat="blocks in selectedBlocks track by blocks._id">
                <li class="list-group-item">
                    {{blocks.name}}
                    <button ng-model="blocks" type="button" style="" class="btn-sml btn-danger float-right" ng-click="removeBlock(blocks)">
                        <span class="" aria-hidden="false">&times;</span>
                    </button>
                </li>
            </div>
        </ul>
    </div>
    <button type="submit" class="btn btn-success" ng-click="CreateDashboard()">Create Dashboard</button>
</div>


