<h3>Create Dashboard</h3>
<div class="row mt-4" ng-controller="dashboardController">
    <div class="col-sm-5 col-md-5">
        <h4>Edit Information</h4>
        <div class="form-group row mt-4">
            <label for="inputDashboardName" class="ml-3">Dashboard Name</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="inputDashboardName" placeholder="Name">
            </div>
        </div>

        <div class="form-group row mt-4">
            <label for="inputDashboardDescription" class="ml-3">Dashboard Description</label>
            <div class="col-sm-12">
                <textarea class="form-control" id="inputDashboardDescription" rows="4"></textarea>
            </div>
        </div>
        <div class="form-group row mt-4">
            <label for="dropdownBlocks" class="ml-3">Select Blocks:</label>
            <div class="col-sm-12">
                <select id="dropdownBlocks" class="form-control "
                        ng-model="buildingSelection"
                        required ng-options="block.name for block in userBlocks"
                        ng-change="selection(block)">
                </select>
            </div>
        </div>
    </div>

    <div class="col-sm-5 col-md-5">
        <h4>Current Buildings</h4>
        <ul class="list-group mt-4 mb-4">
            <div ng-repeat="buildings in selectedBuildings track by buildings._id">
                <li class="list-group-item">
                    {{buildings.name}}
                    <button ng-model="buildings" type="button" style="" class="btn-sml btn-danger float-right" ng-click="removeBuilding(buildings)">
                        <span class="" aria-hidden="false">&times;</span>
                    </button>
                </li>
            </div>
        </ul>
    </div>
</div>
<button type="submit" class="btn btn-success" ng-click="CreateBlock()">Create Block</button>
</div>
