<h3>My Dashboards
	<a href="#createdashboard" class="btn btn-success float-right">Create Dashboard</a>   <!--CHANGE EDIT TO CREATE AND HREF -->
</h3>
<div ng-controller="dashboardController">
<ul class="list-group mt-4 mb-4">
    <li class="list-group-item pb-2 pt-2" ng-repeat="dashboard in dashboards">
        <div class="w-100 h-100">
            <span class="align-middle">{{dashboard.name}}</span>
            <button type="submit" class="btn btn-danger float-right" ng-click="DeleteDashboard(dashboard)">Delete</button>
            <a href="#editdashboard" class="btn-sm btn-success float-right ml-2" style="text-decoration: none !important">Edit</a>
            <a href="#viewdashboard" ng-click="viewDashboard(dashboard)" class="btn-sm btn-secondary float-right ml-2" style="text-decoration: none !important">View</a>
        </div>

    </li>
</ul>


<h3>Public Dashboards</h3>
    <ul class="list-group mt-4 mb-4">
        <li class="list-group-item d-inline-flex p-2">
            <div class="w-100 h-100">
                <span class="" style="margin-top: 50%;">Balls</span>
                <button type="submit" class="btn btn-danger float-right" ng-click="DeleteDashboard(dashboard)">Delete</button>
                <a href="#editdashboard" class="btn-sm btn-success float-right ml-2" style="text-decoration: none !important">Edit</a>
                <a href="#viewdashboard"  class="btn-sm btn-secondary float-right ml-2" style="text-decoration: none !important">View</a>
            </div>
        </li>
    </ul>
</div>