<h3>My Dashboards
	<a href="#createdashboard" class="btn btn-success float-right">Create Dashboard</a>   <!--CHANGE EDIT TO CREATE AND HREF -->
</h3>
<ul class="list-group mt-4 mb-4">
    <li class="list-group-item pb-2 pt-2">
        <span class="align-middle">Dashboard 1</span>
        <a href="#deletedashboard" class="btn-sm btn-danger float-right ml-2" style="text-decoration: none !important">Delete</a>
        <a href="#editdashboard" class="btn-sm btn-success float-right ml-2" style="text-decoration: none !important">Edit</a>
        <a href="#viewdashboard" class="btn-sm btn-secondary float-right ml-2" style="text-decoration: none !important">View</a>
    </li>
    <li class="list-group-item pb-2 pt-2">
        <span class="align-middle">Dashboard 2</span>
        <a href="#deletedashboard" class="btn-sm btn-danger float-right ml-2" style="text-decoration: none !important">Delete</a>
        <a href="#editdashboard" class="btn-sm btn-success float-right ml-2" style="text-decoration: none !important">Edit</a>
        <a href="#viewdashboard" class="btn-sm btn-secondary float-right ml-2" style="text-decoration: none !important">View</a>
    </li>
    <li class="list-group-item pb-2 pt-2">
        <span class="align-middle">Dashboard 3</span>
        <a href="#deletedashboard" class="btn-sm btn-danger float-right ml-2" style="text-decoration: none !important">Delete</a>
        <a href="#editdashboard" class="btn-sm btn-success float-right ml-2" style="text-decoration: none !important">Edit</a>
        <a href="#viewdashboard" class="btn-sm btn-secondary float-right ml-2" style="text-decoration: none !important">View</a>
    </li>
    <li class="list-group-item pb-2 pt-2">
        <span class="align-middle">Dashboard 4</span>
        <a href="#deletedashboard" class="btn-sm btn-danger float-right ml-2" style="text-decoration: none !important">Delete</a>
        <a href="#editdashboard" class="btn-sm btn-success float-right ml-2" style="text-decoration: none !important">Edit</a>
        <a href="#viewdashboard" class="btn-sm btn-secondary float-right ml-2" style="text-decoration: none !important">View</a>
    </li>
    <li class="list-group-item pb-2 pt-2">
        <span class="align-middle">Dashboard 5</span>
        <a href="#deletedashboard" class="btn-sm btn-danger float-right ml-2" style="text-decoration: none !important">Delete</a>
        <a href="#editdashboard" class="btn-sm btn-success float-right ml-2" style="text-decoration: none !important">Edit</a>
        <a href="#viewdashboard" class="btn-sm btn-secondary float-right ml-2" style="text-decoration: none !important">View</a>
    </li>
</ul>


<h3>Public Dashboards</h3>

<ul class="list-group mt-4 mb-4">
    <li class="list-group-item pb-2 pt-2">Public Dashboard 1</li>
    <li class="list-group-item pb-2 pt-2">Public Dashboard 2</li>
    <li class="list-group-item pb-2 pt-2">Public Dashboard 3</li>
    <li class="list-group-item pb-2 pt-2">Public Dashboard 4</li>
    <li class="list-group-item pb-2 pt-2">Public Dashboard 5</li>
    <li class="list-group-item pb-2 pt-2">Public Dashboard 1</li>
    <li class="list-group-item pb-2 pt-2">Public Dashboard 2</li>
    <li class="list-group-item pb-2 pt-2">Public Dashboard 3</li>
    <li class="list-group-item pb-2 pt-2">Public Dashboard 4</li>
    <li class="list-group-item pb-2 pt-2">Public Dashboard 5</li>
</ul>