<br>
<div ng-controller="dashboardController">
	<h1 class="Stratum2-Light font-weight-bold">My Dashboards
		<a href="#createdashboard" ng-click="create()" class="btn border-orange-thin background-orange text-white float-right">Create Dashboard+</a>   <!--CHANGE EDIT TO CREATE AND HREF -->
	</h1>
    <ul class="list-group mt-4 mb-4 Stratum2-Light">
        <li class="list-group-item border-orange-thin p-2" ng-repeat="dashboard in dashboards">
            <div class="row px-2 mb-2">
                <div class="col-sm-12">
                    <h4 class="m-0 ">{{dashboard.name}}
						<div class="float-right pr-3 dropdown" style="font-size:18px">
							<button class="fa fa-gear border-orange-thin border-curve-button" style="font-size:24px"></button>
							<div class="dropdown-content border-orange font-weight-normal">
								<a class="" ng-click="EditDashboard(dashboard)">Edit</a>
								<a class="" ng-click="ViewDashboard(dashboard)">View</a>
								<a class="" ng-click="DeleteDashboard(dashboard)">Delete</a>
							</div>
						</div>
					</h4>
                    <h6 class="m-0">Description: {{dashboard.description}}<p></p></h6>
					
                </div>
            </div>
        </li>
    </ul>

    <h1 class="Stratum2-Light font-weight-bold">Public Dashboards</h1>
    <ul class="list-group mt-4 mb-4 Stratum2-Light">
        <li class="list-group-item border-orange-thin p-2">
             <div class="row p-2 mb-2">
				<div class="col-sm-11">
					<h4 class="m-0 ">Dashboard Name: </h4>
					<h6 class="m-0">Description: <p></p></h6>
				</div>
				<div class="col-sm-1 dropdown">
					<button class="fa fa-gear border-orange-thin border-curve-button" style="font-size:24px"></button>
					<div class="dropdown-content border-orange">
						<a class="" href="#editdashboard">Edit</a>
						<a class="" href="#viewdashboard">View</a>
						<a class="" >Delete</a>
					</div>
				</div>
            </div>
        </li>
		<li class="list-group-item border-orange-thin p-2">
             <div class="row p-2 mb-2">
				<div class="col-sm-11">
					<h3 class="m-0 ">Dashboard Name: </h3>
					<h6 class="m-0">Description: <p></p></h6>
				</div>
				<div class="col-sm-1 dropdown">
					<button class="fa fa-gear border-orange-thin border-curve-button" style="font-size:24px"></button>
					<div class="dropdown-content border-orange">
						<a class="" href="#editdashboard">Edit</a>
						<a class="" href="#viewdashboard">View</a>
						<a class="" >Delete</a>
					</div>
				</div>
            </div>
        </li>
    </ul>
</div>